<div class='about-text'>
    <h1 class='text-center'>Our History</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis odit illo voluptatem doloremque cumque repudiandae facere possimus et totam sunt, sint enim nesciunt omnis eum, ullam magni, sequi modi. Ullam suscipit molestias expedita, vero fuga culpa rerum sint id nostrum, eligendi eius nobis eos. A aspernatur illum, voluptas dolorum molestiae, ipsam repellat sunt voluptate magnam animi, amet doloribus consequatur culpa? Pariatur veniam tempore, error quod eveniet ab placeat aliquam neque odit expedita iusto recusandae temporibus reiciendis?
    </p>

    <p>Quidem dolorum ipsa nemo ex saepe tempore rem ducimus rerum molestias omnis quaerat quia tempora voluptate cum, ea possimus, asperiores libero quam reiciendis consequatur! Libero consequuntur rem quis voluptatum delectus sint excepturi eniet quis! Perferendis unde necessitatibus non maxime illum eos doloremque quasi repellat exercitationem quam rem, inventore placeat fugiat libero, vitae perspiciatis a nisi iure officiis quod.
    </p>

    <p>Sit laudantium, neque dolore omnis cum consequatur optio blanditiis voluptatem? Odit aperiam sit alias similique saepe, delectus sed exercitationem labore, facilis boriosam nesciunt?
    </p>
    <p>Cumque sed consectetur minima natus quia corporis quisquam odio veniam, maxime accusamus hic aspernatur rerum ipsum reprehenderit laborum esse tempore, fugit asperiores provident soluta sapiente placeat nulla aliquam. Pariatur provident, ad ipsa facilis minima aliquid consectetur corporis quaerat perferendis similique itaque. </p>
    <p>Possimus nobis omnis doloremque non debitis, saepe incidunt aperiam quis iusto eos accusantium ullam itaque molestias odit porro quasi, perferendis impedit nam laudantium consequuntur? Quod nisi iusto magni repellat aperiam porro recusandae aliquid minima, numquam vero veniam delectus provident quam dolorum dolores totam! Quasi consectetur sapiente ex tenetur laboriosam cum deleniti corrupti dicta ea dignissimos. Facilis tenetur veritatis, corrupti dolore quis consequatur incidunt enim nemo vero, adipisci illum fugiat aliquid officiis. Culpa excepturi, id commodi blanditiis nesciunt in eveniet dolorum! Sit, omnis nihil!</p>
</div>