<h1>
Hi! <% @user.email %>
</h1>
<p>
<% @book.title %> was issued to your id on <% @bookissue.created_at.to_date %>
</p>
<p>
You are supposed to return it before completion of 5 days starting from issue date.
</p>
